{% set body_class = "about-page" %}
{% extends "./_layout.html" %}

{% block content %}
<main class="about-main">

  <div class="about-hero">
    <div class="about-hero-overlay"></div>
    <div class="about-hero-image">
      <picture>
        <source media="(max-width: 650px)" srcset="/images/44.jpg">
        <source media="(max-width: 999px)" srcset="/images/44.jpg">
        <source media="(min-width: 1000px)" srcset="/images/6.jpg">
        <img src="/images/6.jpg" alt="img">
      </picture>
    </div>
    <div class="about-hero-1280">
      <div class="about-hero-title">
        About Us
      </div>
      <div class="about-hero-description">
        HCM Consultant Group is the global consulting company and center of excellence for implementing state of the art
        business solutions and business processes. We provide innovative services. With our first-class project
        management
        know-how, we guide and support our customers to build up high-performance and sustainable solutions that match
        their specific requirements.
      </div>
    </div>
  </div>

  <div class="about-offer-fluid">
    <div class="about-offer-1280">
      <div class="about-offer-title">
        We Offer
      </div>
      <div class="about-offer-container">
        <div class="about-offer-item">
          <div class="about-offer-item-content">
            <div class="about-offer-item-content-top">
              <div class="about-offer-item-content__name">
                Vision To Do Better
              </div>
              <div class="about-offer-item-content__icon">
                <img src="/images/icon1.svg" alt="image">
              </div>
            </div>
            <div class="about-offer-item-content__description">
              Creating value means for us to consult our customers on a highly professional, continuous and a trustful
              partner-like level. Therefore, our mission is to act different and better than many big consultancy
              companies.
            </div>
          </div>
        </div>
        <div class="about-offer-item">
          <div class="about-offer-item-content">
            <div class="about-offer-item-content-top">
              <div class="about-offer-item-content__name">
                Grand Skill Set
              </div>
              <div class="about-offer-item-content__icon">
                <img src="/images/icon2.svg" alt="image">
              </div>
            </div>
            <div class="about-offer-item-content__description">
              Creating value means for us to consult our customers on a highly professional, continuous and a trustful
              partner-like level. Therefore, our mission is to act different and better than many big consultancy
              companies.
            </div>
          </div>
        </div>
        <div class="about-offer-item">
          <div class="about-offer-item-content">
            <div class="about-offer-item-content-top">
              <div class="about-offer-item-content__name">
                Cross-Industry Knowledge
              </div>
              <div class="about-offer-item-content__icon">
                <img src="/images/icon3.svg" alt="image">
              </div>
            </div>
            <div class="about-offer-item-content__description">
              Creating value means for us to consult our customers on a highly professional, continuous and a trustful
              partner-like level. Therefore, our mission is to act different and better than many big consultancy
              companies.
            </div>
          </div>
        </div>
        <div class="about-offer-item">
          <div class="about-offer-item-content">
            <div class="about-offer-item-content-top">
              <div class="about-offer-item-content__name">
                Project Experts
              </div>
              <div class="about-offer-item-content__icon">
                <img src="/images/icon4.svg" alt="image">
              </div>
            </div>
            <div class="about-offer-item-content__description">
              Creating value means for us to consult our customers on a highly professional, continuous and a trustful
              partner-like level. Therefore, our mission is to act different and better than many big consultancy
              companies.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-approach-fluid">
    <div class="about-approach-1280">
      <div class="about-approach-title">
        Our Approach
      </div>
      <div class="about-approach-container">
        <div class="about-approach-circle"></div>
        <div class="about-approach-item">
          <div class="about-approach-item-name">
            We question
          </div>
          <div class="about-approach-item-description">
            We ask the right questions to understand the complexity of your business goals and specific needs to develop
            the best solution for your situation.
          </div>
        </div>
        <div class="about-approach-item">
          <div class="about-approach-item-name">
            We colaborate
          </div>
          <div class="about-approach-item-description">
            We partner with a wide network of specialists so that we can provide the expert help you need. Meanwhile, we
            work as one team to achieve our goal together.
          </div>
        </div>
        <div class="about-approach-item">
          <div class="about-approach-item-name">
            We EMPOWER
          </div>
          <div class="about-approach-item-description">
            Managing a big-change project can feel overwhelming. We break your initiatives down into a roadmap with
            clear milestones to empower you to conduct your transformation process successfully.
          </div>
        </div>
        <div class="about-approach-item">
          <div class="about-approach-item-name">
            WE ARE HANDS-ON
          </div>
          <div class="about-approach-item-description">
            We believe in and live a hands-on approach. Together with our customers, we find new ways to improve their
            strategic and operational business.
          </div>
        </div>
        <div class="about-approach-item full">
          <div class="about-approach-item-name">
            WE MANAGE PEOPLE
          </div>
          <div class="about-approach-item-description">
            Whether top management or line employees, personal contact with the customer is crucial for us.
            Our many years of consulting work has taught us that even the most sophisticated concept is worth nothing if
            we don't succeed in getting all employees on board.
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="about-people-fluid">
    <div class="about-people-top-line-1280">
      <div class="about-people-top-left">
        Our People
      </div>
      <div class="about-people-top-right">
        We act through a global network of experts who combine distinct technology expertise with sophisticated
        methodical know-how. With our headquarters in Germany we are eager to support you in both national and
        international projects.
      </div>
    </div>
  </div>

  <div class="about-leadership-fluid">
    <div class="about-leadership-1280">
      <div class="about-leadership-content">
        <div class="pin-rect pin-label1">
          <div class="about-leadership-label">
            <div class="about-leadership-label-inner ">
              Leadership
            </div>
          </div>
        </div>
        <div class="about-leadership-container">
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/7.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Marcus Kühn
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/8.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Managing Director
            </div>
            <div class="about-leadership-item-name">
              Johannes Stolte-Greskamp
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="about-consultants-fluid">
    <div class="about-consultants-1280">
      <div class="about-consultants-content">
        <div class="pin-rect pin-label2">
          <div class="about-leadership-label">
            <div class="about-leadership-label-inner ">
              Consultants
            </div>
          </div>
        </div>
        <div class="about-leadership-container">
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/9.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Adrian Hohendorff

            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/10.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Consultant
            </div>
            <div class="about-consultants-item-name">
              Matthew Brouard
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/11.jpg" alt="image">
            </div>
            <div class="about-consultants-item-post">
              Senior Consultant
            </div>
            <div class="about-consultants-item-name">
              Naeem Essop
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-leadership-fluid network">
    <div class="about-leadership-1280">
      <div class="about-leadership-content pined3">
        <div class="pin-rect pin-label3">
          <div class="about-leadership-label ">
            <div class="about-leadership-label-inner ">
              Network
            </div>
          </div>
        </div>

        <div class="about-leadership-container">
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/12.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Director
            </div>
            <div class="about-leadership-item-name">
              Oliver Müller Vorreier
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/13.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Director
            </div>
            <div class="about-leadership-item-name">
              Frank-Reiner Gross
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/14.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Andreas Humeny
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/15.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Antonio Argibay da Silva
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/16.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Beate Graziola
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/17.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Senior Expert
            </div>
            <div class="about-leadership-item-name">
              Bert Faßbender
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/18.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Darijo Visevic
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/19.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Frank Gutbrod
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/20.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Günter Zimmek
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/21.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Harald Betzler
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/22.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Project & Management Assistant
            </div>
            <div class="about-leadership-item-name">
              Katharina Stolte-Greskamp
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/23.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Project & Management Assistant
            </div>
            <div class="about-leadership-item-name">
              Lucas Ruf
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/24.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Reinhard Winter
            </div>
          </div>
          <div class="about-leadership-item js-modal-link" data-target="member-popup">
            <div class="about-leadership-item-image">
              <img src="/images/25.jpg" alt="image">
            </div>
            <div class="about-leadership-item-post">
              Executive Consultant
            </div>
            <div class="about-leadership-item-name">
              Steffen Gauss
            </div>
          </div>
        </div>
        <div class="about-leadership-more-btn">
          See More
        </div>
      </div>
    </div>
  </div>

  <div class="about-engagement-fluid">
    <div class="about-engagement-1280">
      <div class="about-engagement-left">
        Social Engagement
      </div>
      <div class="about-engagement-right">
        <div class="about-engagement-right-text">
          Acting accountable and responsible is not only one of our foundations in working with our customers, but also
          a core principle in our corporate social and environmental responsibility strategy. Through multiple
          engagements, we help people thrive to their highest potential from the ground up and foster biodiversity for a
          sustainable environment.
        </div>
        <div class="about-engagement-right-read">
          <span>Read</span>
          <div class="about-engagement-right-read-arrow">
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                fill="#1E285A" />
            </svg>

          </div>
        </div>
      </div>
    </div>
  </div>






  {% include './components/_footer.html' %}




</main>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
