{% set body_class = "article-page" %}
{% extends "./_layout.html" %}

{% block content %}
<main class="article">

  <div class="article-hero-fluid">
    <div class="article-hero-overlay"></div>
    <div class="article-hero-image">
      <img src="/images/33.jpg" alt="image">
    </div>
    <div class="article-hero-1280">
      <div class="article-hero-title">
        Artificial intelligence in our present lives
      </div>
      <div class="article-hero-date">
        <p>Published:</p>
        <span>22/02/20222</span>
      </div>
    </div>
  </div>

  <div class="article-content-fluid">
    <div class="article-content-1280">
      <div class="article-content-block">
        <div class="article-content-block-left">
          <div class="article-content-block-title1">
            A VERY WARM WELCOME BACK!
          </div>
        </div>
        <div class="article-content-block-right">
          <p>A very warm welcome back ladies and gentlemen! Allow me to bring you back into the present. I do sincerely
            hope that you enjoyed reading the ‘Blog of the technological past’ which we posted before. This is blog
            number two of three; not the past…but the present!
          </p>
          <p>Once again, the title of this blog explains to us roughly what it will be about. Previously, we gained
            basic knowledge as to how Artificial Intelligence found its ground and how it developed ever so rapidly. And
            all this led to our normal daily lives which we now lead – circling around technology and the internet! So,
            join in and read on about how AI has integrated into and how it has affected our daily lives.</p>
        </div>
      </div>
      <div class="article-content-block">
        <div class="article-content-block-left">
          <div class="article-content-block-title2">
            AI IN OUR DAILY LIVES
          </div>
        </div>
        <div class="article-content-block-right">
          <p>There is such a thing called the Internet of Things (IoT). It basically merges the digital and physical
            universe together. The IoT refers to the billions of physical devices out there, such as cars, phones or
            washing machines, that are connected to the internet! They all connect and share data online. This has only
            become possible since the arrival of very cheap computer chips and wireless networking that has jumped out
            in recent years, enabling tiny objects like computer chips or bigger objects like aeroplanes to become a
            part of the IoT family. Through their connection, AI technology is made possible to be used within these
            devices.
          </p>
          <p>Modern AI does not need precisely moderated operating rules from humans. It is capable of learning and
            developing rules on its own! This is where the computer starts to think for itself. For example, if you give
            a modern AI computer many pictures of different types of dogs in order to make the computer learn and
            understand the characteristics of it, then whenever it sees a dog thereafter it will be able to instantly
            recognise it for what it is. Now this concept is used in all facets of the AI/ technological world. This is
            a characteristic modern AI shares with humans. You yourself had no one explain to you what a dog looks like.
            You simply saw many, learnt it was a dog and remembered that as a fact. Modern AI incorporates pattern
            recognition and mimics how people learn.</p>
          <p>
            Nowadays, many people around the world possess a digital assistant, such as the Apple HomePod, Apple Siri,
            Google Home and Amazon Alexa to name a few. These are commonly used for interactions such as:

            These digital assistants are based on machine learning technology which is broadly described as a
            subcategory of AI. They use historical data to develop and get better at being able to predict and
            understand our “natural language questions and requests”. Another example is Nest, a learning thermostat
            acquired by Google. Nest uses algorithms to learn from your heating and cooling
            <strong>preferences</strong>. Based on this
              information it is able to adjust the temperature in your home according to your predicted personal needs.

          </p>
          <ul>
            <li>Internet searches,</li>
            <li>Scheduling,</li>
            <li>Message dictation,</li>
            <li>Media playback.</li>
          </ul>
          <img src="/images/34.jpg" alt="image">
          <p>And, how often do we do web searches? Let’s face it…everyday! Yes, most people have been using search
            engines since the 1990´s, but Artificial Intelligence in modern day and age has improved this massively. The
            autocomplete function of modern search engines predicts what you are looking for when beginning to type
            something into the search box and automatically tries to complete your request. The predicted words are of
            course not a coincidence. The search engine learns from your historical behaviour and, together with other
            influencing factors, makes predictions about what you might be looking for. Additionally, modern AI creates
            ranking algorithms in these search engines. This simply means that it ranks those websites to be at the top
            of the results which it thinks you are the most interested in.
          </p>
          <p>
            Another major platform that has increased drastically in size and popularity is indeed the online shopping
            market. It has, as we all know, become MASSIVE. If you have ever shopped online, there is a great chance
            that Modern AI has played a role during your experience! If you’ve seen an ad on Facebook for a product
            you’ve been searching for, you can be quite assured that it was AI which generated these happenings. With
            its constantly refined algorithms, it understands your interests and predicts almost everything you desire
            or need. Some online shops even plan to start the shipment of products to us before we have even ordered
            them, predicting that the order will be made very soon. And what about customer support? The chatbots,
            operated mostly by robots, use behavioral adaption to improve their emotional intelligence in order to
            increase customer relationship and retention.
            One more interesting point to look at, is that of the recent happenings in 5G – the quickest form of
            internet connection humanity has ever had to their disposal. 5G with its incredible speed, will help improve
            systems of AI which need a greater internet connection. Here is a list of some items 5G is well, and will be
            well used for in AI systems:
            Autonomous cars,
            Smart Cities
            The Internet of Things technology,
            Communication and collaboration.
            The future of 5G is one we will shortly see and behold. It is indeed going to be something quite like out of
            a movie!

          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="article-image-fluid">
    <img src="/images/34.jpg" alt="image">
  </div>
  <div class="article-content-fluid">
    <div class="article-content-1280">
      <div class="article-content-block">
        <div class="article-content-block-left">
          <div class="article-content-block-title2">
            AI IN THE WORLD OF WORK

          </div>
        </div>
        <div class="article-content-block-right">
          <p>Of course, we do not only get in contact with Artificial Intelligence in our personal lives. In the
            business
            world, companies for example start to use AI to support them finding the best talent. Algorithms analyse
            potential candidates based on huge data sets from multiple enterprise and publicly available data sources to
            reduce manual work and increase productivity. This is being done by focusing more on evidence-based decision
            making by still including human experience and by respecting diversity aspects.
          </p>
          <p>That AI already has a huge impact on our lives can also be seen with the current pandemic we are all
            affected
            by, COVID-19. Companies are leveraging big data and AI to monitor cases, predict future outbreaks, encode
            the
            virus genome, develop vaccines within months instead of years or even decades, and help managing the supply
            chains to deploy the vaccines globally. These are just a few cases of how Artificial Intelligence is
            supporting
            us in the fight against corona, but there is so much more to learn about.
          </p>
          <p>So yes, ladies and gentlemen, from the Internet of Things, which really makes up a huge portion of our
            daily
            lives, all the way to online shopping and the present upgrades into a realm of ultrafast internet
            connection, we
            are certainly heading into a very technological, fast-developing future. I do indeed believe that huge
            change
            will take place in the technological world of Artificial Intelligence, as it already is and has been doing
            in
            recent times. It will remain vital to stay in-tact with the changes of Artificial Intelligence and the
            technical
            realm it will lead us into! It is vital so stay tuned and informed as not to fall behind with the world. So,
            buckle up, and let’s have a sneak peek into the future…</p>
        </div>
      </div>
    </div>
  </div>

  <div class="article-autor-fluid">
    <div class="article-autor-rectangles">
      <div class="left-rectangle"></div>
      <div class="right-rectangle"></div>
    </div>
    <div class="article-autor-1280">
      <div class="article-autor-text">
        <div class="article-autor-text-name">
          Who Wrote It
        </div>
        <div class="article-autor-text-description">
          My name is Lucas and I am 19 years old. I matriculated in South Africa at the end of 2019 and currently live
          in Austria after successfully completing my 6 month military service in 2020. Now I am studying International
          Business and Economics and am also granted the privilege of working with HCM. I really look forward to a
          wonderful time together with this fantastic team. Traveling, cooking, meeting people, sport, piano, saxophone,
          and accordion are a few of my desired hobbies! I am a true believer in good deeds and an adventurous life!
        </div>
      </div>
      <div class="article-autor-image">
        <img src="/images/35.jpg" alt="image">
      </div>
    </div>
  </div>

  <div class="article-more-fluid">
    <div class="article-more-1280">
      <div class="article-more-title">
        MORE ARTICLES in this series
      </div>
    </div>
    <div class="blog-container">
      <a href="/" class="blog-item">
        <div class="block-item-name">
          The future of Artificial Intelligence
        </div>
        <div class="block-item-description">
          Enjoy a sneak peak into the future of Artificial Intelligence. In this final blog of our AI series we will
          explore many different aspects of what may be expecting us in the future.
        </div>
        <div class="block-item-btn">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
              fill="#1E285A" />
          </svg>
        </div>
        <div class="block-item-image">
          <img src="/images/27.jpg" alt="image">
        </div>
      </a>
      <a href="/" class="blog-item">
        <div class="block-item-name">
          Artificial Intelligence in our present lives
        </div>
        <div class="block-item-description">
          In this second out of three articles we are back from our journey into the past and take a closer look at
          how
          Artificial Intelligence is shaping our present lives.
        </div>
        <div class="block-item-btn">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
              fill="#1E285A" />
          </svg>
        </div>
        <div class="block-item-image">
          <img src="/images/28.jpg" alt="image">
        </div>
      </a>
      <a href="/" class="blog-item">
        <div class="block-item-name">
          The Development of Artificial Intelligence
        </div>
        <div class="block-item-description">
          Change is the only constant. This applies to many areas, not least to the development of artificial
          intelligence. Follow our Intern Lucas around as he takes a closer look at this rapidly evolving topic.
        </div>
        <div class="block-item-btn">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
              fill="#1E285A" />
          </svg>
        </div>
        <div class="block-item-image">
          <img src="/images/29.jpg" alt="image">
        </div>
      </a>

    </div>
  </div>

  <div class="blog-mobile-more-articles">
    <div class="customers-steps-mob__inner">
      <div class="customers-steps-mob__slider js-customers-steps-slider">
        <div class="swiper-wrapper">
          <div class="customers-steps-mob__slide swiper-slide">
            <a href="/" class="blog-item">
              <div class="block-item-name">
                The future of Artificial Intelligence
              </div>
              <div class="block-item-description">
                Enjoy a sneak peak into the future of Artificial Intelligence. In this final blog of our AI series we
                will
                explore many different aspects of what may be expecting us in the future.
              </div>
              <div class="block-item-btn">
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                    fill="#1E285A" />
                </svg>
              </div>
              <div class="block-item-image">
                <img src="/images/27.jpg" alt="image">
              </div>
            </a>
          </div>
          <div class="customers-steps-mob__slide swiper-slide">
            <a href="/" class="blog-item">
              <div class="block-item-name">
                Artificial Intelligence in our present lives
              </div>
              <div class="block-item-description">
                In this second out of three articles we are back from our journey into the past and take a closer look
                at
                how
                Artificial Intelligence is shaping our present lives.
              </div>
              <div class="block-item-btn">
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                    fill="#1E285A" />
                </svg>
              </div>
              <div class="block-item-image">
                <img src="/images/28.jpg" alt="image">
              </div>
            </a>
          </div>
          <div class="customers-steps-mob__slide swiper-slide">
            <a href="/" class="blog-item">
              <div class="block-item-name">
                The Development of Artificial Intelligence
              </div>
              <div class="block-item-description">
                Change is the only constant. This applies to many areas, not least to the development of artificial
                intelligence. Follow our Intern Lucas around as he takes a closer look at this rapidly evolving topic.
              </div>
              <div class="block-item-btn">
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                    fill="#1E285A" />
                </svg>
              </div>
              <div class="block-item-image">
                <img src="/images/29.jpg" alt="image">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="customers-steps-mob__pagination js-customers-steps-slider-pagination"></div>
    </div>
  </div>



  {% include './components/_footer.html' %}




</main>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
