{% set body_class = "projects-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="projects-main">
  <div class="about-hero">
    <div class="about-hero-overlay"></div>
    <div class="about-hero-image">
      <img
        src="./images/social-engagement/social-engagement__hero-image.jpg"
        alt="image"
      />
    </div>
    <div class="about-hero-1280">
      <div class="about-hero-title">Our Projects</div>
      <div class="about-hero-description">
        Our broad portfolio ranges from implementing IT-based solutions and
        end-to-end processes as well as operations to management consulting. Our
        approach in projects and programs is result-oriented, straightforward,
        transparent, plausible&nbsp;and&nbsp;sustainable.
      </div>
    </div>
  </div>
  <div class="projects-projects__fluid">
    <div class="container-1280">
      <div class="projects-projects__content">
        <div class="projects-projects__label">Projects</div>
        <div class="projects-projects__wrapper">
          <div class="projects-projects__list">
            <div class="projects-projects__item">
              <div class="projects-projects__item-top">
                <p class="description warning">01</p>
                <p class="subtitle">HR Cloud Provider Selection</p>
                <p class="description">
                  More and more companies are moving from on-premise solutions
                  to the cloud. Learn more about how we may support you.
                </p>
              </div>
              <div class="projects-projects__item-bottom">
                <div
                  class="projects-projects__right-read-arrow right-read-arrow js-modal-link"
                  data-target="projects-popup"
                >
                  <svg
                    width="13"
                    height="12"
                    viewBox="0 0 13 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                      fill="#1E285A"
                    />
                  </svg>
                </div>
                <img
                  src="./images/projects/projects__project-image-1.jpg"
                  alt="project image"
                  class="projects-projects__image"
                />
              </div>
            </div>
            <div class="projects-projects__item">
              <div class="projects-projects__item-top">
                <p class="description warning">02</p>
                <p class="subtitle">GLOBAL LMS IMPLEMENTATION</p>
                <p class="description">
                  Implementing a globally unified learning management process
                  and cloud system for more than 100,000 employees – a
                  challenging but exciting project!
                </p>
              </div>
              <div class="projects-projects__item-bottom">
                <div
                  class="projects-projects__right-read-arrow right-read-arrow js-modal-link"
                  data-target="projects-popup"
                >
                  <svg
                    width="13"
                    height="12"
                    viewBox="0 0 13 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                      fill="#1E285A"
                    />
                  </svg>
                </div>
                <img
                  src="./images/projects/projects__project-image-2.jpg"
                  alt="project image"
                  class="projects-projects__image"
                />
              </div>
            </div>
            <div class="projects-projects__item">
              <div class="projects-projects__item-top">
                <p class="description warning">03</p>
                <p class="subtitle">PROJECT MANAGEMENT AUDIT</p>
                <p class="description">
                  The introduction of a uniform Group-wide process and cloud
                  system solution for learning management - a project of great
                  strategic importance in all respects.
                </p>
              </div>
              <div class="projects-projects__item-bottom">
                <div
                  class="projects-projects__right-read-arrow right-read-arrow js-modal-link"
                  data-target="projects-popup"
                >
                  <svg
                    width="13"
                    height="12"
                    viewBox="0 0 13 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                      fill="#1E285A"
                    />
                  </svg>
                </div>
                <img
                  src="./images/projects/projects__project-image-3.jpg"
                  alt="project image"
                  class="projects-projects__image"
                />
              </div>
            </div>
          </div>

          <div class="projects-projects__button description warning">
            <div
              class="projects-projects__right-read-arrow right-read-arrow js-modal-link"
              data-target="member-popup"
            >
              <svg
                width="13"
                height="12"
                viewBox="0 0 13 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                  fill="#1E285A"
                />
              </svg>
            </div>
            See More
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-customers__fluid">
    <div class="container-1280">
      <div class="projects-customers__content">
        <div class="projects-customers__label">Customers</div>
        <div class="projects-customers__wrapper">
          <div class="projects-customers__header">
            <p class="title-s">Customers</p>
            <p class="description">
              The employees of HCM Consultant Group have successfully
              contributed their expertise in more than 15 years of consulting to
              more than 50 different companies from a wide variety of
              industries. An excerpt from our customer references:
            </p>
          </div>
          <div class="projects-customers__logos-list">
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-absa.png"
                alt="absa logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-basf.png"
                alt="basf logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-bayer.png"
                alt="bayer logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-bmw.png"
                alt="bayer logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-cegelec.png"
                alt="bayer logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-celesio.png"
                alt="celesio logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-covestro.png"
                alt="covestro logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-currenta.png"
                alt="currenta logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-DHL.png"
                alt="dhl logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-distell.png"
                alt="distell logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-exyte.png"
                alt="exyte logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-haribo.png"
                alt="haribo logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-momentive.png"
                alt="momentive logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-postbank.png"
                alt="postbank logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-pwc.png"
                alt="pwc logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-rehau.png"
                alt="rehau logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-republic.png"
                alt="repablic logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-rww.png"
                alt="rww logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-swk.png"
                alt="swk logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-tmo.png"
                alt="tmo logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-tmo.png"
                alt="tmo logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-tui.png"
                alt="tui logo"
                class="projects-customers__logos-image"
              />
            </div>
            <div class="projects-customers__logos-item">
              <img
                src="./images/projects/projects__clients-westLB.png"
                alt="westLB logo"
                class="projects-customers__logos-image"
              />
            </div>
          </div>
          <div class="customers-steps-mob__inner">
            <div class="customers-steps-mob__slider js-customers-steps-slider">
              <div class="swiper-wrapper">
                <div class="customers-steps-mob__slide swiper-slide">
                  <ul class="projects-customers-mob__logos-list">
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-absa.png"
                        alt="absa logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-basf.png"
                        alt="basf logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-bayer.png"
                        alt="bayer logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-bmw.png"
                        alt="bayer logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-cegelec.png"
                        alt="bayer logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-celesio.png"
                        alt="celesio logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-covestro.png"
                        alt="covestro logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-currenta.png"
                        alt="currenta logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                  </ul>
                </div>
                <div class="customers-steps-mob__slide swiper-slide">
                  <ul class="projects-customers-mob__logos-list">
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-DHL.png"
                        alt="dhl logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-distell.png"
                        alt="distell logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-exyte.png"
                        alt="exyte logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-haribo.png"
                        alt="haribo logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-momentive.png"
                        alt="momentive logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-postbank.png"
                        alt="postbank logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-pwc.png"
                        alt="pwc logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-rehau.png"
                        alt="rehau logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                  </ul>
                </div>
                <div class="customers-steps-mob__slide swiper-slide">
                  <ul class="projects-customers-mob__logos-list">
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-republic.png"
                        alt="repablic logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-rww.png"
                        alt="rww logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-swk.png"
                        alt="swk logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-tmo.png"
                        alt="tmo logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-tmo.png"
                        alt="tmo logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-tui.png"
                        alt="tui logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                    <li class="projects-customers-mob__logos-item">
                      <img
                        src="./images/projects/projects__clients-westLB.png"
                        alt="westLB logo"
                        class="projects-customers-mob__logos-image"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="customers-steps-mob__pagination js-customers-steps-slider-pagination"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-contact-fluid">
    <div class="home-contact-1280">
      <div class="home-bottom-circle">
        <div class="home-bottom-circle-inner"></div>
      </div>
      <div class="home-contact-left">Let’s Talk</div>
      <div class="home-contact-right">
        <a href="mailto:info@hcmconsult.com" class="home-contact-email">
          info@hcmconsult.com
        </a>
        <div class="home-contact-description">
          If you have any questions, please do not hesitate to contact us.
        </div>
      </div>
    </div>
  </div>
</main>
{% include './components/_footer.html' %} {% endblock %} {% block footer_scripts
%} {% endblock %}
