{% set body_class = "service-page" %}
{% extends "./_layout.html" %}

{% block content %}
<main class="service">

  <div class="service-hero-fluid">
    <div class="service-hero-overlay"></div>
    <div class="service-hero-image">
      <img src="/images/37.jpg" alt="image">
    </div>
    <div class="service-hero-1280">
      <div class="service-hero-title">
        Cloud Implementation
      </div>
    </div>
  </div>

  <div class="service-directions-fluid">
    <div class="service-directions-1280">
      <div class="service-directions-item">
        <div class="service-directions-item-title">
          Objective
        </div>
        <div class="service-directions-item-description">
          Implementing major HR cloud systems benefits the technical and strategical competitiveness of organizations.
          It also changes the collaboration between HR business and IT organization, the way they are structured and how
          IT operates.
        </div>
      </div>
      <div class="service-directions-item">
        <div class="service-directions-item-title">
          Challenge
        </div>
        <div class="service-directions-item-description">
          Moving into the HR cloud is not only a big step from a technology and taxonomy perspective. Moreover it is a
          big mind change as cloud products are less flexibly when it comes to specific client needs. They also require
          a different set up of the companies support structure.
        </div>
      </div>
    </div>
  </div>

  <div class="service-expertise-fluid">
    <div class="service-expertise-left">
      <div class="service-expertise-left-content">
        <div class="service-expertise-left-content-title">
          Our Expertise
        </div>
        <ul class="service-expertise-left-content-list">
          <li>Knowing about the obstacles that clients and organizations experience when moving into the cloud – lessons
            learned from various cloud implementation projects accompanied.</li>
          <li>Agile implementation methodology demand detailed documentation of configuration requests. (Configuration)
            decisions require immediate and close tracking.</li>
          <li>
            Establish a tailored “Digital Employee Journey” by knowing how to structure a simple and logical system
            access from a user perspective
          </li>
        </ul>
      </div>
    </div>
    <div class="service-expertise-right">
      <img src="/images/38.jpg" alt="image">
    </div>
  </div>

  <div class="service-benefit-fluid">
    <div class="service-benefit-1280">
      <div class="service-benefit-left">
        <div class="service-benefit-left-circle"></div>
        <div class="service-benefit-left-image">
          <img src="/images/40.jpg" alt="image">
        </div>
      </div>
      <div class="service-benefit-right">
        <div class="service-benefit-right-title">
          Your Benefit
        </div>
        <ul class="service-benefit-right-list">
          <li>Establishing a common taxonomy as the foundation for understanding a new cloud solution. Shaping a new
            Target Operating Model and HR support organization suiting to a cloud</li>
          <li>Unified sign-off procedure for configuration decisions and blueprints. Implementation and global usage of
            decision matrix and decision review process</li>
          <li>
            Cloud solution access strategy and set up for employees and the client’s HR organization
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="service-projects-fluid">
    <div class="home-projects-1280">
      <div class="home-projects-left">
        <div class="home-projects-left-title">
          Related Projects
        </div>
        <a href="/" class="home-projects-left-more-btn">
          See more projects
        </a>
      </div>
      <div class="home-projects-right">
        <div class="home-projects-container">
          <div class="home-projects-item">
            <div class="home-projects-item-image">
              <img src="/images/3.jpg" alt="img">
            </div>
            <div class="home-projects-item-center">
              <div class="home-projects-item-center-name">
                HR Cloud Provider Selection
              </div>
              <div class="home-projects-item-center-date">
                01 April 2022
              </div>
            </div>
            <a href="/" class="home-projects-item__btn">
              <div class="home-projects-item__btn-circle">
                <svg viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.35355 4.35355C8.54882 4.15829 8.54882 3.84171 8.35355 3.64645L5.17157 0.464466C4.97631 0.269204 4.65973 0.269204 4.46447 0.464466C4.2692 0.659728 4.2692 0.976311 4.46447 1.17157L7.29289 4L4.46447 6.82843C4.2692 7.02369 4.2692 7.34027 4.46447 7.53553C4.65973 7.7308 4.97631 7.7308 5.17157 7.53553L8.35355 4.35355ZM0 4.5L8 4.5V3.5L0 3.5L0 4.5Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="home-projects-item">
            <div class="home-projects-item-image">
              <img src="/images/4.jpg" alt="img">
            </div>
            <div class="home-projects-item-center">
              <div class="home-projects-item-center-name">
                implementation of a globally uniform learning management process and cloud system
              </div>
              <div class="home-projects-item-center-date">
                01 April 2022
              </div>
            </div>
            <a href="/" class="home-projects-item__btn">
              <div class="home-projects-item__btn-circle">
                <svg viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.35355 4.35355C8.54882 4.15829 8.54882 3.84171 8.35355 3.64645L5.17157 0.464466C4.97631 0.269204 4.65973 0.269204 4.46447 0.464466C4.2692 0.659728 4.2692 0.976311 4.46447 1.17157L7.29289 4L4.46447 6.82843C4.2692 7.02369 4.2692 7.34027 4.46447 7.53553C4.65973 7.7308 4.97631 7.7308 5.17157 7.53553L8.35355 4.35355ZM0 4.5L8 4.5V3.5L0 3.5L0 4.5Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
          <div class="home-projects-item">
            <div class="home-projects-item-image">
              <img src="/images/5.jpg" alt="img">
            </div>
            <div class="home-projects-item-center">
              <div class="home-projects-item-center-name">
                Successful Project Management Audit at a DAX Company
              </div>
              <div class="home-projects-item-center-date">
                01 April 2022
              </div>
            </div>
            <a href="/" class="home-projects-item__btn">
              <div class="home-projects-item__btn-circle">
                <svg viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.35355 4.35355C8.54882 4.15829 8.54882 3.84171 8.35355 3.64645L5.17157 0.464466C4.97631 0.269204 4.65973 0.269204 4.46447 0.464466C4.2692 0.659728 4.2692 0.976311 4.46447 1.17157L7.29289 4L4.46447 6.82843C4.2692 7.02369 4.2692 7.34027 4.46447 7.53553C4.65973 7.7308 4.97631 7.7308 5.17157 7.53553L8.35355 4.35355ZM0 4.5L8 4.5V3.5L0 3.5L0 4.5Z"
                    fill="white" />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% include './components/_footer.html' %}




</main>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
