{% set body_class = "wwu-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="wwu-main">
  <div class="wwu-hero">
    <div class="wwu-hero-overlay"></div>
    <div class="wwu-hero-image">
      <img src="/images/41.jpg" alt="image" />
    </div>
    <div class="wwu-hero-1280">
      <div class="wwu-hero-title">Work with us</div>
      <div class="wwu-hero-description">
        The HCM Consultant Group GmbH is a team of management consultants who
        have completed their professional careers in renowned consulting firms
        and who, with their many years of international experience in various
        industries, advise companies of all sizes.
      </div>
    </div>
  </div>

  <div class="wwu-content-fluid">
    <div class="wwu-content-1280">
      <div class="wwu-content-left">
        <form action="" class="wwu-form">
          <div class="wwu-input">
            <input type="text" placeholder="Full Name" />
            <div class="wwu-input-error">
              Please, enter your name and surname
            </div>
          </div>
          <div class="wwu-input half">
            <input type="text" placeholder="E-mail" />
            <div class="wwu-input-error">
              Please, enter your email correctly
            </div>
          </div>
          <div class="wwu-input half">
            <input type="text" placeholder="Phone" />
            <div class="wwu-input-error">Please, enter correct your phone</div>
          </div>
          <div class="wwu-textarea error">
            <textarea placeholder="Message"></textarea>
            <div class="wwu-input-error">Please, write down your message</div>
          </div>
          <div class="wwu-forms-btns">
            <div class="wwu-upload-sv wrapper-input-file">
              <input type="file" id="upload-file-cv" placeholder="Upload CV" />
              <label class="wwu-upload-sv-btn" for="upload-file-cv">
                Upload CV
              </label>
              <div class="upload-cv-delete delete-cross-file">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.6455 1.70711C20.036 1.31658 20.036 0.683417 19.6455 0.292893C19.255 -0.0976311 18.6218 -0.0976311 18.2313 0.292893L9.9692 8.55498L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L8.55498 9.9692L0.292893 18.2313C-0.0976311 18.6218 -0.0976311 19.255 0.292893 19.6455C0.683417 20.036 1.31658 20.036 1.70711 19.6455L9.9692 11.3834L18.2313 19.6455C18.6218 20.036 19.255 20.036 19.6455 19.6455C20.036 19.255 20.036 18.6218 19.6455 18.2313L11.3834 9.9692L19.6455 1.70711Z"
                    fill="#0D0C1D" />
                </svg>
              </div>
            </div>

            <div class="wwu-upload-letter wrapper-input-file">
              <input type="file" id="upload-file-letter" placeholder="Upload Cover Letter" />
              <label class="wwu-upload-letter-btn" for="upload-file-letter">
                Upload Cover Letter
              </label>
              <div class="upload-leter-delete delete-cross-file">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M19.6455 1.70711C20.036 1.31658 20.036 0.683417 19.6455 0.292893C19.255 -0.0976311 18.6218 -0.0976311 18.2313 0.292893L9.9692 8.55498L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L8.55498 9.9692L0.292893 18.2313C-0.0976311 18.6218 -0.0976311 19.255 0.292893 19.6455C0.683417 20.036 1.31658 20.036 1.70711 19.6455L9.9692 11.3834L18.2313 19.6455C18.6218 20.036 19.255 20.036 19.6455 19.6455C20.036 19.255 20.036 18.6218 19.6455 18.2313L11.3834 9.9692L19.6455 1.70711Z"
                    fill="#0D0C1D" />
                </svg>
              </div>
            </div>
          </div>
          <div class="wwu-send">
            <span>Sand</span>
            <button type="submit" class="wwu-send-btn">
              <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.4018 6.51993C12.689 6.23278 12.689 5.76722 12.4018 5.48007L7.72244 0.800685C7.43529 0.513535 6.96973 0.513535 6.68258 0.800685C6.39543 1.08784 6.39543 1.5534 6.68258 1.84055L10.842 6L6.68258 10.1595C6.39543 10.4466 6.39543 10.9122 6.68258 11.1993C6.96973 11.4865 7.43529 11.4865 7.72244 11.1993L12.4018 6.51993ZM0.117188 6.73529L11.8819 6.73529V5.26471L0.117187 5.26471L0.117188 6.73529Z"
                  fill="#1E285A" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="wwu-content-right">
        <p>
          To strengthen our team, we are continuously looking for highly
          motivated employees who are interested in sophisticated solutions.
        </p>
        <p>
          We look forward to receiving your detailed application, stating your
          salary expectations and the earliest starting date. Please send your
          application by e-mail:
        </p>
      </div>
    </div>
  </div>

  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
