<div class="cookies-fluid">
  <div class="cookies-1280">
    <div class="cookies-left">
      We use cookies to personalise content and ads, to provide social media features and analyse our traffic. We also
      share information about your use of our site with our social media, advertising and analytics partners who may
      combine it with other information that you’ve provided to them or that they’ve collected from your use of their
      services.
    </div>
    <div class="cookies-right">
      <div class="cookies-right-accept-btn">
        Accept
      </div>
      <div class="cookies-right-close-btn">
        Reject Cookies
      </div>
      <div class="cookies-right-manage-btn js-modal-link" data-target="cookies-preferences-popup">
        Manage my preferences
      </div>
    </div>
  </div>
</div>
