<div class="menu-wrapper">
  <!-- <div class="menu-close js-hide-cursor">
    <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="3" width="35" height="3" transform="rotate(45 3 0)" fill="white" />
      <rect x="1" y="25" width="35" height="3" transform="rotate(-45 1 25)" fill="white" />
    </svg>
  </div> -->

  <div class="menu-content">
    <div class="menu-top-line">
      <div class="menu-logo">
        <img src="/images/logo2.png" alt="image">
      </div>
      <div class="menu-close">
        close
      </div>
    </div>
    <div class="menu-links">
      <a href="/" class="menu-links-item">
        About
      </a>
      <div href="/" class="menu-links-containing">
        <div class="menu-links-containing-heading">
          <p>Services</p>
          <img src="/images/arrow2.svg" alt="image">
        </div>

        <div class="menu-links-drop">
          <div class="menu-links-drop-item">
            <div class="menu-links-drop-item__title">
              HR Consulting
            </div>
            <a href="/" class="menu-links-drop-item__link">
              Arteficial Intelligence in HR
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Cloud Implementation
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Change Managment
            </a>
          </div>
          <div class="menu-links-drop-item">
            <div class="menu-links-drop-item__title">
              IT Consulting
            </div>
            <a href="/" class="menu-links-drop-item__link">
              HR Service organization moddeling
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Digital Transformation
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Project Managment
            </a>
          </div>
          <div class="menu-links-drop-item">
            <div class="menu-links-drop-item__title">
              Managment Consulting
            </div>
            <a href="/" class="menu-links-drop-item__link">
              HR Transformation
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Information Security
            </a>
          </div>
          <div class="menu-links-drop-item">
            <div class="menu-links-drop-item__title">
              Training and Development
            </div>
            <a href="/" class="menu-links-drop-item__link">
              Process improvement
            </a>
            <a href="/" class="menu-links-drop-item__link">
              Validation of computorized system
            </a>
          </div>
        </div>
      </div>
      <a href="/" class="menu-links-item">
        Projects
      </a>
      <a href="/" class="menu-links-item">
        Work with us
      </a>
      <a href="/" class="menu-links-item">
        Insights
      </a>
    </div>
    <div class="menu-bottom">
      <div class="menu-search-btn">
        <img src="/images/white-loop.svg" alt="image">
      </div>
      <div class="menu-lang">
        <a href="/" class="menu-lang-item">
          EN
        </a>
        <div class="menu-lang-separator">|</div>
        <a href="/" class="menu-lang-item">
          DA
        </a>
      </div>
    </div>
    <div class="menu-search-input">
      <input type="text" placeholder="I am looking for">
    </div>
  </div>


</div>
